body {
    background-color: rgb(24, 24, 31);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    background: none;
    color: rgb(138, 80, 27);
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
transition: all 0.3s;
}


button:hover {
    border-color: rgb(180, 247, 81);
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(180, 247, 81);
    transform: translateY(-0.25em);
    cursor: pointer;
}